<%- include('./includes/header.ejs') %>

<div
  style="
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
  width: 580px;
  padding: 1rem;
  font-weight: 500;
  color: black; 
  font-family: Inter, sans-serif;
  font-size: 1rem;
  "
>
    <h3>Cher utilisateur Selu</h3>
    <p>
        Nous avons recu une requete de changement de mot de passe pour ce courriel : <%= receiver %> . 
        <br>
        <br>
        Voici votre code de verification : 
    </p>
    <p
        style="
            font-size: 3rem;
            text-align: center;
            font-weight: 700;
        "
    >
        <%= content  %>
    </p>
    <p>
        Si vous n'avez pas fait la requete, il est possible que quelqu'un essaye d'acceder au compte Selu <%= receiver %>.
        Ne donnez ce code a personne.
        <br>
        Nos sinceres salutations,
        <br>
        L'équipe Selu.
    </p>

</div>

<%- include('./includes/footer.ejs') %>